# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.Azumi.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
Azumi_bot/Discord_bot/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Azumi_bot/Discord_bot/obj/Debug/net7.0/Discord_bot.AssemblyInfo.cs
Azumi_bot/Discord_bot/obj/Debug/net7.0/Discord_bot.AssemblyInfoInputs.cache
Azumi_bot/Discord_bot/obj/Debug/net7.0/Discord_bot.assets.cache
Azumi_bot/Discord_bot/obj/Debug/net7.0/Discord_bot.csproj.AssemblyReference.cache
Azumi_bot/Discord_bot/obj/Debug/net7.0/Discord_bot.csproj.CoreCompileInputs.cache
Azumi_bot/Discord_bot/obj/Debug/net7.0/Discord_bot.GeneratedMSBuildEditorConfig.editorconfig
Azumi_bot/Discord_bot/obj/Debug/net7.0/Discord_bot.GlobalUsings.g.cs
Bot_package/bin/Debug/Bot_package.dll
Bot_package/bin/Debug/Bot_package.pdb
Bot_package/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
Bot_package/obj/Debug/Bot_package.csproj.AssemblyReference.cache
Bot_package/obj/Debug/Bot_package.csproj.CoreCompileInputs.cache
Bot_package/obj/Debug/Bot_package.csproj.FileListAbsolute.txt
Bot_package/obj/Debug/Bot_package.dll
Bot_package/obj/Debug/Bot_package.pdb
Command_package/bin/Debug/Command_package.dll
Command_package/bin/Debug/Command_package.pdb
Command_package/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
Command_package/obj/Debug/Command_package.csproj.AssemblyReference.cache
Command_package/obj/Debug/Command_package.csproj.CoreCompileInputs.cache
Command_package/obj/Debug/Command_package.csproj.FileListAbsolute.txt
Command_package/obj/Debug/Command_package.dll
Command_package/obj/Debug/Command_package.pdb
NLP_package/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
NLP_package/obj/Debug/NLP_package.csproj.AssemblyReference.cache
NLP_package/obj/Debug/NLP_package.csproj.CoreCompileInputs.cache
Telegram_Bot/Telegram_Bot/obj/Debug/net7.0/Telegram_Bot.assets.cache
Telegram_Bot/Telegram_Bot/obj/Debug/net7.0/Telegram_Bot.GlobalUsings.g.cs
Test_package/bin/Debug/Test_package.dll
Test_package/bin/Debug/Test_package.pdb
Test_package/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
Test_package/obj/Debug/Test_package.csproj.AssemblyReference.cache
Test_package/obj/Debug/Test_package.csproj.CoreCompileInputs.cache
Test_package/obj/Debug/Test_package.csproj.FileListAbsolute.txt
Test_package/obj/Debug/Test_package.dll
Test_package/obj/Debug/Test_package.pdb
Answer_package/bin/Debug/Answer_package.dll
Answer_package/bin/Debug/Answer_package.pdb
Answer_package/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
Answer_package/obj/Debug/Answer_package.csproj.AssemblyReference.cache
Answer_package/obj/Debug/Answer_package.csproj.CoreCompileInputs.cache
Answer_package/obj/Debug/Answer_package.csproj.FileListAbsolute.txt
Answer_package/obj/Debug/Answer_package.dll
Answer_package/obj/Debug/Answer_package.pdb
API_package/bin/Debug/API_package.dll
API_package/bin/Debug/API_package.pdb
API_package/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
API_package/obj/Debug/API_package.csproj.AssemblyReference.cache
API_package/obj/Debug/API_package.csproj.CoreCompileInputs.cache
API_package/obj/Debug/API_package.csproj.FileListAbsolute.txt
API_package/obj/Debug/API_package.dll
API_package/obj/Debug/API_package.pdb
Azumi_bot/Discord_bot/bin/Debug/net7.0/Discord.Net.Commands.dll
Azumi_bot/Discord_bot/bin/Debug/net7.0/Discord.Net.Core.dll
Azumi_bot/Discord_bot/bin/Debug/net7.0/Discord.Net.Interactions.dll
Azumi_bot/Discord_bot/bin/Debug/net7.0/Discord.Net.Rest.dll
Azumi_bot/Discord_bot/bin/Debug/net7.0/Discord.Net.Webhook.dll
Azumi_bot/Discord_bot/bin/Debug/net7.0/Discord.Net.WebSocket.dll
Azumi_bot/Discord_bot/bin/Debug/net7.0/Discord_bot.deps.json
Azumi_bot/Discord_bot/bin/Debug/net7.0/Discord_bot.dll
Azumi_bot/Discord_bot/bin/Debug/net7.0/Discord_bot.exe
Azumi_bot/Discord_bot/bin/Debug/net7.0/Discord_bot.pdb
Azumi_bot/Discord_bot/bin/Debug/net7.0/Discord_bot.runtimeconfig.json
Azumi_bot/Discord_bot/bin/Debug/net7.0/JsonDocumentPath.dll
Azumi_bot/Discord_bot/bin/Debug/net7.0/Microsoft.Extensions.Caching.Abstractions.dll
Azumi_bot/Discord_bot/bin/Debug/net7.0/Microsoft.Extensions.Caching.Memory.dll
Azumi_bot/Discord_bot/bin/Debug/net7.0/Microsoft.Extensions.Configuration.Abstractions.dll
Azumi_bot/Discord_bot/bin/Debug/net7.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
Azumi_bot/Discord_bot/bin/Debug/net7.0/Microsoft.Extensions.DependencyInjection.dll
Azumi_bot/Discord_bot/bin/Debug/net7.0/Microsoft.Extensions.FileProviders.Abstractions.dll
Azumi_bot/Discord_bot/bin/Debug/net7.0/Microsoft.Extensions.Hosting.Abstractions.dll
Azumi_bot/Discord_bot/bin/Debug/net7.0/Microsoft.Extensions.Http.dll
Azumi_bot/Discord_bot/bin/Debug/net7.0/Microsoft.Extensions.Http.Polly.dll
Azumi_bot/Discord_bot/bin/Debug/net7.0/Microsoft.Extensions.Logging.Abstractions.dll
Azumi_bot/Discord_bot/bin/Debug/net7.0/Microsoft.Extensions.Logging.dll
Azumi_bot/Discord_bot/bin/Debug/net7.0/Microsoft.Extensions.Options.dll
Azumi_bot/Discord_bot/bin/Debug/net7.0/Microsoft.Extensions.Primitives.dll
Azumi_bot/Discord_bot/bin/Debug/net7.0/Miki.Cache.dll
Azumi_bot/Discord_bot/bin/Debug/net7.0/Miki.Discord.Common.dll
Azumi_bot/Discord_bot/bin/Debug/net7.0/Miki.Discord.Gateway.dll
Azumi_bot/Discord_bot/bin/Debug/net7.0/Miki.Discord.Rest.dll
Azumi_bot/Discord_bot/bin/Debug/net7.0/Miki.Net.Http.dll
Azumi_bot/Discord_bot/bin/Debug/net7.0/Miki.Patterns.Repositories.dll
Azumi_bot/Discord_bot/bin/Debug/net7.0/Miki.Reactive.dll
Azumi_bot/Discord_bot/bin/Debug/net7.0/Newtonsoft.Json.dll
Azumi_bot/Discord_bot/bin/Debug/net7.0/OneOf.dll
Azumi_bot/Discord_bot/bin/Debug/net7.0/Polly.Contrib.WaitAndRetry.dll
Azumi_bot/Discord_bot/bin/Debug/net7.0/Polly.dll
Azumi_bot/Discord_bot/bin/Debug/net7.0/Polly.Extensions.Http.dll
Azumi_bot/Discord_bot/bin/Debug/net7.0/Remora.Discord.API.Abstractions.dll
Azumi_bot/Discord_bot/bin/Debug/net7.0/Remora.Discord.API.dll
Azumi_bot/Discord_bot/bin/Debug/net7.0/Remora.Discord.Caching.Abstractions.dll
Azumi_bot/Discord_bot/bin/Debug/net7.0/Remora.Discord.Gateway.dll
Azumi_bot/Discord_bot/bin/Debug/net7.0/Remora.Discord.Rest.dll
Azumi_bot/Discord_bot/bin/Debug/net7.0/Remora.Extensions.Options.Immutable.dll
Azumi_bot/Discord_bot/bin/Debug/net7.0/Remora.Rest.Core.dll
Azumi_bot/Discord_bot/bin/Debug/net7.0/Remora.Rest.dll
Azumi_bot/Discord_bot/bin/Debug/net7.0/Remora.Results.dll
Azumi_bot/Discord_bot/bin/Debug/net7.0/Serilog.dll
Azumi_bot/Discord_bot/bin/Debug/net7.0/System.Interactive.Async.dll
Azumi_bot/Discord_bot/bin/Debug/net7.0/System.Linq.Async.dll
Azumi_bot/Discord_bot/bin/Debug/net7.0/System.Reactive.dll
Azumi_bot/Discord_bot/bin/Debug/net7.0/ValueTaskSupplement.dll
Azumi_bot/Discord_bot/obj/Debug/net7.0/apphost.exe
Azumi_bot/Discord_bot/obj/Debug/net7.0/Discord_bot.csproj.CopyComplete
Azumi_bot/Discord_bot/obj/Debug/net7.0/Discord_bot.csproj.FileListAbsolute.txt
Azumi_bot/Discord_bot/obj/Debug/net7.0/Discord_bot.dll
Azumi_bot/Discord_bot/obj/Debug/net7.0/Discord_bot.genruntimeconfig.cache
Azumi_bot/Discord_bot/obj/Debug/net7.0/Discord_bot.pdb
Azumi_bot/Discord_bot/obj/Debug/net7.0/ref/Discord_bot.dll
Azumi_bot/Discord_bot/obj/Debug/net7.0/refint/Discord_bot.dll
DB_Bridge/bin/Debug/DB_Bridge.dll
DB_Bridge/bin/Debug/DB_Bridge.pdb
DB_Bridge/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
DB_Bridge/obj/Debug/DB_Bridge.csproj.AssemblyReference.cache
DB_Bridge/obj/Debug/DB_Bridge.csproj.CoreCompileInputs.cache
DB_Bridge/obj/Debug/DB_Bridge.csproj.FileListAbsolute.txt
DB_Bridge/obj/Debug/DB_Bridge.dll
DB_Bridge/obj/Debug/DB_Bridge.pdb
NLP_package/bin/Debug/NLP_package.dll
NLP_package/bin/Debug/NLP_package.pdb
NLP_package/obj/Debug/NLP_package.csproj.FileListAbsolute.txt
NLP_package/obj/Debug/NLP_package.dll
NLP_package/obj/Debug/NLP_package.pdb
Telegram_Bot/Telegram_Bot/bin/Debug/net7.0/Discord.Net.Core.dll
Telegram_Bot/Telegram_Bot/bin/Debug/net7.0/Newtonsoft.Json.dll
Telegram_Bot/Telegram_Bot/bin/Debug/net7.0/System.Interactive.Async.dll
Telegram_Bot/Telegram_Bot/bin/Debug/net7.0/System.Linq.Async.dll
Telegram_Bot/Telegram_Bot/bin/Debug/net7.0/Telegram.Bot.dll
Telegram_Bot/Telegram_Bot/bin/Debug/net7.0/Telegram.Bot.Extensions.Polling.dll
Telegram_Bot/Telegram_Bot/bin/Debug/net7.0/Telegram_Bot.deps.json
Telegram_Bot/Telegram_Bot/bin/Debug/net7.0/Telegram_Bot.dll
Telegram_Bot/Telegram_Bot/bin/Debug/net7.0/Telegram_Bot.exe
Telegram_Bot/Telegram_Bot/bin/Debug/net7.0/Telegram_Bot.pdb
Telegram_Bot/Telegram_Bot/bin/Debug/net7.0/Telegram_Bot.runtimeconfig.json
Telegram_Bot/Telegram_Bot/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Telegram_Bot/Telegram_Bot/obj/Debug/net7.0/apphost.exe
Telegram_Bot/Telegram_Bot/obj/Debug/net7.0/ref/Telegram_Bot.dll
Telegram_Bot/Telegram_Bot/obj/Debug/net7.0/refint/Telegram_Bot.dll
Telegram_Bot/Telegram_Bot/obj/Debug/net7.0/Telegram_Bot.AssemblyInfo.cs
Telegram_Bot/Telegram_Bot/obj/Debug/net7.0/Telegram_Bot.AssemblyInfoInputs.cache
Telegram_Bot/Telegram_Bot/obj/Debug/net7.0/Telegram_Bot.csproj.AssemblyReference.cache
Telegram_Bot/Telegram_Bot/obj/Debug/net7.0/Telegram_Bot.csproj.CopyComplete
Telegram_Bot/Telegram_Bot/obj/Debug/net7.0/Telegram_Bot.csproj.CoreCompileInputs.cache
Telegram_Bot/Telegram_Bot/obj/Debug/net7.0/Telegram_Bot.csproj.FileListAbsolute.txt
Telegram_Bot/Telegram_Bot/obj/Debug/net7.0/Telegram_Bot.dll
Telegram_Bot/Telegram_Bot/obj/Debug/net7.0/Telegram_Bot.GeneratedMSBuildEditorConfig.editorconfig
Telegram_Bot/Telegram_Bot/obj/Debug/net7.0/Telegram_Bot.genruntimeconfig.cache
Telegram_Bot/Telegram_Bot/obj/Debug/net7.0/Telegram_Bot.pdb
.vs/Azumi/DesignTimeBuild/.dtbcache.v2
.vs/Azumi/FileContentIndex/37c4882b-25a5-4cf8-a108-0598473296ed.vsidx
.vs/Azumi/FileContentIndex/3bd23ac7-bf46-43ab-a753-388e85ae9b8d.vsidx
.vs/Azumi/FileContentIndex/473c0007-5d43-47b1-ada9-03baa0be99da.vsidx
.vs/Azumi/FileContentIndex/6c480904-450c-4ebc-8d85-5e3720a74218.vsidx
.vs/Azumi/v17/.suo
*.v2
